#
# Licensed to the Austrian Association for Software Tool Integration (AASTI)
# under one or more contributor license agreements. See the NOTICE file
# distributed with this work for additional information regarding copyright
# ownership. The AASTI licenses this file to you under the Apache License,
# Version 2.0 (the "License"); you may not use this file except in compliance
# with the License. You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

#
# Comma separated list of features repositories to register by default
#
featuresRepositories=mvn:org.apache.karaf.assemblies.features/standard/${karaf.version}/xml/features,\
mvn:org.apache.karaf.assemblies.features/enterprise/${karaf.version}/xml/features,\
mvn:org.apache.activemq/activemq-karaf/${activemq.version}/xml/features,\
mvn:org.openengsb/openengsb/${openengsb.version}/xml/features,\
mvn:org.openengsb.domain/openengsb-domain-appointment/${domain.appointment.version}/xml/features,\
mvn:org.openengsb.domain/openengsb-domain-build/${domain.build.version}/xml/features,\
mvn:org.openengsb.domain/openengsb-domain-contact/${domain.contact.version}/xml/features,\
mvn:org.openengsb.domain/openengsb-domain-deploy/${domain.deploy.version}/xml/features,\
mvn:org.openengsb.domain/openengsb-domain-issue/${domain.issue.version}/xml/features,\
mvn:org.openengsb.domain/openengsb-domain-notification/${domain.notification.version}/xml/features,\
mvn:org.openengsb.domain/openengsb-domain-report/${domain.report.version}/xml/features,\
mvn:org.openengsb.domain/openengsb-domain-scm/${domain.scm.version}/xml/features,\
mvn:org.openengsb.domain/openengsb-domain-test/${domain.test.version}/xml/features,\
mvn:org.openengsb.connector/openengsb-connector-email/${connector.email.version}/xml/features,\
mvn:org.openengsb.connector/openengsb-connector-gcalendar/${connector.gcalendar.version}/xml/features,\
mvn:org.openengsb.connector/openengsb-connector-gcontacts/${connector.gcontacts.version}/xml/features,\
mvn:org.openengsb.connector/openengsb-connector-git/${connector.git.version}/xml/features,\
mvn:org.openengsb.connector/openengsb-connector-maven/${connector.maven.version}/xml/features,\
mvn:org.openengsb.connector/openengsb-connector-plaintextreport/${connector.plaintextreport.version}/xml/features,\
mvn:org.openengsb.connector/openengsb-connector-promreport/${connector.promreport.version}/xml/features,\
mvn:org.openengsb.connector/openengsb-connector-trac/${connector.trac.version}/xml/features,\
mvn:org.openengsb.connector/openengsb-connector-github/${connector.github.version}/xml/features

featuresBoot=ssh,obr,config,management,wrapper,\
openengsb-connector-memoryauditing,\
openengsb-ports-jms,openengsb-ports-ws,\
openengsb-ui-admin,\
activemq-web-console,\
openengsb-connector-email,\
openengsb-connector-gcalendar,\
openengsb-connector-gcontacts,\
openengsb-connector-git,\
openengsb-connector-maven,\
openengsb-connector-plaintextreport,\
openengsb-connector-promreport,\
openengsb-connector-trac,\
openengsb-connector-github

